@model AzStore.Mvc.Models.Search.SearchFilterViewModel

@{
    ViewBag.Title = "Checkout";
}

@section Search
{
    @Html.Partial("~/Views/Shared/SearchFilter.cshtml", Model)
}

<h2>Checkout</h2>

Thank you for your purchases
